<h3>
  {{leyenda}} - {{porcentaje}}
</h3> 
 
 
 <div class="input-group">
          <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="cambiarValor(-5)">hate it</button>
                </span>
          <input #txtProgress type="number" class="form-control" name="progreso" [(ngModel)]="porcentaje" (ngModelChange)="onChange($event)" min="1" max="100">
          <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="cambiarValor(+5)" >love it</button>

          </span> 

  </div>
            